body {
    /* background-color: rgba(228, 225, 225, 0.365); */
    background: url("/public/images/bg-body.jpg");
    background-size: cover;
}

:root{
    --primary-color: #290700;
}

.bg-welcome{
    background-color: var(--primary-color);
}

.back-form{
    background-color: white;
}

.bg-button{
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

.text{
    color: var(--primary-color)!important;
}

.form-layout{
    border: 1px solid black;
}

.navbar{
    background-color: white;
}

/* .bg-category{
    background-color: #290700;
} */

.form{
    background-color: rgba(255, 255, 255, 1);
    /* position: absolute;  */
    /* -webkit-backdrop-filter: blur(30px); */
    /* backdrop-filter: blur(10px); */
}

.form-custom{
    background: url("/public/images/bg-login.png");
    background-size: cover;
    /* filter: blur(2px);
    position: absolute;  */
}